.contact {
    background-color: rgb(46, 171, 243);
}

.subContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    width: 85%;
    margin: 10px auto;
}

.contactTitle {
    color: rgba(206, 235, 241, 0.986);
    padding: 15px;
}

.input {
    border: none;
    margin-top: 70px;
    padding: 10px;
}

.butn {
    padding: 8px;
    border: 2px solid white;
    color: white;
    background-color: rgb(46, 171, 243);
}


/*  responsive part */

@media only screen and (max-width:760px) {
    .subContact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .input {
        border: none;
        margin-top: 20px;
        padding: 10px;
    }

    .inputContact {
        padding-bottom: 15px;
    }



}