.mainFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
    width: 85%;
    margin: 15px auto;
}

.mainFooter h2 {
    color: rgb(46, 171, 243);
}

.mainFooter p {
    margin: 0;
    padding: 2px 0;
}

.footerLink p {
    color: rgb(46, 171, 243);
}